{% extends 'base.html' %}

{% load static %}

{% block extend_head %}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 ">

                {% regroup archive_posts by time_publish.year as year_post_group  %}

                {% for year in year_post_group %}
                    <!-- 每年 -->
                    <div class="mb-3">
                    <h4><i class="fa fa-calendar" aria-hidden="true"></i> {{ year.grouper }}</h4>
                    <div class="list-group ml-4">
                      {% regroup year.list by time_publish.month as month_post_group %}
                        {% for month in month_post_group %}
                            <!-- 每月 -->
                            <div class="list-group-item mb-1 list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h6 class="mb-1"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ month.grouper}} 月</h6>
                                  <small>共 {{ month.list|length}} 篇</small>
                                </div>
                                <div class="border-0 ml-4 a-none">
                                    {% for post in month.list %}
                                        <li><a href="{% url 'blog:post_detail' post.url_slug %}" > {{ post.title }}</a></li>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}